<div class="blurb">
<h1>
    Spelar du gitarr? Är du lat?
</h1>
<h4>
    Bra - då är du precis som mig.
</h4> 
<p>
    Det är roligt att spela gitarr, men det är ett mörker att klicka runt
    och fram och tillbaka mellan Spotify, Youtube, Ultimate Guitar och så vidare när man 
    vill lära sig nån ny låt och ditt gehör är skräp.
    <br>
    <br>
    Så därför samlar den här sidan några såna resurser på en sida så man får
    lust att lära sig nån ny låt ibland. Sök på en låt - se vad som finns på sidan,
    den är inte perfekt, men den är bättre än inget. Beroende på.
    Your milage may vary!
</p>
<h4>
    Kör hårt!
</h4>
</div>
<div class="staff-pick">
    <app-start-page-staff-pick></app-start-page-staff-pick>
</div>