.form{
    width:97.2%;
    padding:10px;
    border-radius: 0.2rem;
}

p{
    color:red;
}

.form-input{
    margin-top:5px;
    background: #ffffff;
    padding:5px 10px;
    color: #333;
    font-size: 1.2em;
    border: none;
    border-radius: 0.2rem;
    border-bottom: 0.3rem solid transparent;
    display: block;
    width:60%;
}

.form-btn{
    margin-top: 20px;
    background: #c0d9f6;
    padding: 5px 10px;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    border-radius: 0.2rem;
    width: auto;
    min-width: 100px;
}

.delete-btn{
    margin-top: 20px;
    background: #f6c0c0;
    padding: 5px 10px;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    border-radius: 0.2rem;
    width: auto;
    min-width: 100px;
}