.list-item{
    cursor: pointer;
    margin:auto;
    margin-top:10px;
    padding-top:4px;
    padding-left:10px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    margin-left:2.5%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
}


img{
    margin-top:3px;
    height:50px;
    width:50px;
    float:left;
    margin-right:10px;
}

p{
    margin:0;
}

h4{
    margin-bottom: 3px;
    margin-top: 0px;
}

p.album{
    font-style: italic;
    font-size: smaller;
}