<h5 *ngIf="isTrackSaved == 'no'">Vill du lära dig spela låten?</h5>
<h5 *ngIf="isTrackSaved == 'yes'">Hur bra kan du låten?</h5>
<button *ngIf="isTrackSaved == 'no'" class="form-btn" (click)="saveTrack()">Klart jag vill!</button>
<select (change)="setProgression($event.target.value)"
[value]="progress"
 *ngIf="isTrackSaved == 'yes'" 
 name="progress" 
 class="progress-options">
    <option value="Vill lära mig">Vill lära mig</option>
    <option value="På god väg">På god väg</option>
    <option value="Kan den rätt bra">Kan den rätt bra</option>
</select>
<br>
<br>
<div class="rate-section" *ngIf="isTrackSaved == 'yes'">
    <h5>Hjälper sidans innehåll dig att lära dig spela låten?</h5>
    <button class="likebtn" [disabled]="likeBtnDisabled" (click)="rate('liked')">
        Ja:
        <span>{{ likesValue() }}</span>
    </button>
    <button class="dislikebtn" [disabled]="dislikeBtnDisabled" (click)="rate('disliked')">
        Nej:
        <span>{{ dislikesValue() }}</span>
    </button>
</div>