.video-list{
    height: 250px;
    overflow-y:auto;
    cursor: pointer;
    width: 95%;
}

h5 {
    margin-left:20px;
    -webkit-user-select: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin:0;
}

li{
    background-color: rgba(65, 112, 153, 0.157);
    padding:5px;
    margin-bottom: 5px;
}

.img-container{
    width: 10%;
}

.text-container{
    width:90%;
    float:right;
}

span{
    font-size: small;
}

img {
    height:40px;
}

.channel-name{
    font-style: italic;
}
