.saved-track{
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.075);
    margin-bottom:10px;
    padding:5px 10px;
    border: none;
    border-radius: 0.2rem;
    border-bottom: 0.3rem solid transparent;
}

p{
    margin:0;
}

h4{
    margin-bottom: 3px;
    margin-top: 0px;
}

p.album{
    font-style: italic;
    font-size: smaller;
}