.search-bar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 1.2rem 0rem;
    padding-left:1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 946px;
    max-width: 100vw;
    display: block;
    border-bottom: 0.3rem solid transparent;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
}

.search-results{
    position: absolute;
    z-index: 99;
    width: 970px;
    max-width: 100vw;
    display: block;
    margin:auto;
}
