/* You can add global styles to this file, and also import other style files */
html{
    color: white;
    background: linear-gradient(to right,#022d41, #012336, #001420);
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    width:1024px;
    margin:auto;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #88888862;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }