h1{
    margin:0;
}

h2{
    font-style: italic;
    font-size: large;
}

img{
    border-radius: 5px;
    width: 275px;
    height: 275px;
}

.logged-in-stuff{
    text-align: center;
    width:255px;
    padding:10px;
    margin-top:5px;
    border-radius: 5px;
    background-color: rgba(209, 209, 209, 0.068);
}

.left-col{
    float:left;
    width: 33%;
}

.right-col{
    float:right;
    width:67%;
}

.player-area{
    width:275px;
}

.ug-search{
    cursor: pointer;
}

.ug-title{
    font-style: italic;
    font-weight: bold;
}

.form-btn{
    background: #8fe096;
    padding:5px 45px 5px 30px;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 1.2em;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    min-width: 100px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.7);
}
