h1{
    font-size: large;
    margin:0;
    text-transform: capitalize;
}

h2{
    font-style: italic;
    font-size: medium;
}

img{
    border-radius: 5px;
    width: 275px;
    height: 275px;
}

.logged-in-stuff{
    text-align: center;
    width:255px;
    padding:10px;
    margin-top:5px;
    border-radius: 0.2rem;
    background-color: rgba(209, 209, 209, 0.068);
}

.left-col{
    margin-top: 25px;
    float:left;
    width: 30%;
}

.right-col{
    float:right;
    width:70%;
}

.player-area{
    width:275px;
    background-color: rgba(209, 209, 209, 0.068);
    border-radius: 0.2rem;
}

.ug-search{
    cursor: pointer;
}

.ug-title{
    font-style: italic;
    font-weight: bold;
}

